.player_interface {
	opacity: 0.5;
}

nav {
	display: flex;
	justify-content: space-around; 
	align-items: center; /* center vertically (cross-axis) */
	height: 50px;
	background-color: #90cfaf;
  }

/* body {
	background-image: url("https://catherineasquithgallery.com/uploads/posts/2023-02/thumbs/1676601506_catherineasquithgallery-com-p-zelenii-fon-poker-14.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	backdrop-filter: brightness(150%);
	background-size: 50vw 70vh ;
  } */
  
  .display_players {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-around;
	  padding: 50px;
  }
  
  .player_interface {
	  border: dotted grey;
	  padding: 50px;
  }
  
  .dealer {
	  text-align: center; 

  }

input:focus {
	background-color: lightblue;
	border: 3px solid #555;
}


/* .players_msg {

} */

button:disabled {
	background-color: dimgrey;
	color: linen;
	opacity: 0.5;
}
